@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Rental App</h1>
    <p class="lead">Register customers, add movies, and checkout rentals from this app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customers", "Index", "Customers")</h2>
        <!--
    <p></p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        -->
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Movies", "Index", "Movies")</h2>
        <!--
    <p></p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        -->
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Rentals", "Index", "Rentals")</h2>
        <!--
    <p></p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        -->
    </div>
</div>